MainForm/Connected Services/ServiceWhatsAppCloudApi/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:50721/svcWebService/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:50721/svcWebService/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:50721/svcWebService/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SendTemplateMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTemplateMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_SendTemplateMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTemplateMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SendTemplateBillingMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTemplateBillingMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_SendTemplateBillingMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTemplateBillingMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VerifyWebhook_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyWebhook" />
  </wsdl:message>
  <wsdl:message name="IService1_VerifyWebhook_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyWebhookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReceiveNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveNotification" />
  </wsdl:message>
  <wsdl:message name="IService1_ReceiveNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveNotificationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SendTemplateMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendTemplateMessage" message="tns:IService1_SendTemplateMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendTemplateMessageResponse" message="tns:IService1_SendTemplateMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTemplateBillingMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendTemplateBillingMessage" message="tns:IService1_SendTemplateBillingMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendTemplateBillingMessageResponse" message="tns:IService1_SendTemplateBillingMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyWebhook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VerifyWebhook" message="tns:IService1_VerifyWebhook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VerifyWebhookResponse" message="tns:IService1_VerifyWebhook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReceiveNotification" message="tns:IService1_ReceiveNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReceiveNotificationResponse" message="tns:IService1_ReceiveNotification_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1" />
</wsdl:definitions>